<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<div class="topbar">
  <div class="topbar-left">
    <a href="/home" class="home-icon" title="Home">🏠</a>
  </div>

  <div class="topbar-center">
    <span class="server-title">Raspberry Pi Server</span>
  </div>

  <div class="topbar-right">
    <div class="dropdown user-menu">
      <button class="top-btn">User ▾</button>
      <div class="dropdown-content">
        <a href="/logout">Logout</a>
        <a href="/switch-user">Switch User</a>
      </div>
    </div>

    <div class="dropdown power-menu">
      <button class="top-btn">⚙ Power ▾</button>
      <div class="dropdown-content">
        <a href="/shutdown-pi">Shutdown Raspberry Pi</a>
        <a href="/restart-pi">Restart Raspberry Pi</a>
        <a href="/shutdown-server">Shutdown Server</a>
        <a href="/restart-server">Restart Server</a>
      </div>
    </div>
  </div>
</div>
<body>

<h1>Create User</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="post">

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Password</label>
    <input type="text" name="password">

    <label>Base Directory</label>
    <input type="text" name="base_dir" value="/">

    <label><input type="checkbox" name="is_admin"> Admin</label><br>
    <label><input type="checkbox" name="can_terminal"> Can use Terminal</label><br>
    <label><input type="checkbox" name="can_restart"> Can Restart Server</label><br>
    <label><input type="checkbox" name="can_info"> Can See Info</label><br>

    <button class="btn">Create</button>
</form>

<a class="btn-secondary" href="/admin">Back</a>

</body>
</html>
