<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry pi Server</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Raspberry pi Serverr</h1>

    <div class="info">
        <p><strong>Current timeb</strong> {{ now }}</p>
        <p><strong>OS:</strong> {{ os_info }}</p>
        <p><strong>CPU:</strong> {{ cpu }}%</p>
        <p><strong>RAM:</strong> {{ ram }}%</p>
    </div>

    <hr>

    <h2>File Manager</h2>

    <div class="path">
        <strong>Current directory:</strong>
        /{{ subpath }}
        {% if parent != "" or subpath != "" %}
            - <a href="{{ url_for('browse', subpath=parent) }}">⬆ Back</a>
        {% endif %}
    </div>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Actions...</th>
        </tr>
        </thead>
        <tbody>
        {% for e in entries %}
            <tr>
                <td>
                    {% if e.is_dir %}
                        <a href="{{ url_for('browse', subpath=(subpath + '/' + e.name).strip('/') ) }}">
                            📁 {{ e.name }}
                        </a>
                    {% else %}
                        📄 {{ e.name }}
                    {% endif %}
                </td>
                <td>{{ "Folder" if e.is_dir else "File" }}</td>
                <td>
                    {% if not e.is_dir and e.size is not none %}
                        {{ (e.size / 1024)|round(1) }} KB
                    {% endif %}
                </td>
                <td>
                    {% if not e.is_dir %}
                        <a href="{{ url_for('download', subpath=(subpath + '/' + e.name).strip('/') ) }}">⬇ Download</a>
                        |
                        <a href="{{ url_for('delete', subpath=(subpath + '/' + e.name).strip('/') ) }}"
                           onclick="return confirm('Are you sure?');">🗑 Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Upload file</h3>
    <form action="{{ url_for('upload', subpath=subpath) }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
</div>
</body>
</html>
