<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Edit Profile</h1>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" value="{{ user.username }}" required>

    <label>New Password</label>
    <input type="text" name="password" placeholder="Leave empty to keep old">

    <button class="btn">Save</button>
</form>

<a class="btn-secondary" href="/">Back</a>

</body>
</html>
